@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900');

$bg-color: #F9F8F5;
$font-stack: 'Muli', sans-serif;
$primary-color: #4A4A4A;
$clr-red: #E12943;
$clr-violet: #9384AA;
$clr-white: #fff;
$bg-violet: #AAA1CB;
$text-color-light: #F9F8F5;

body {
    background-color: $bg-color;
    font-family: $font-stack;
    font-size: 1rem;
    line-height: 1.33rem;
    color: $primary-color;
}

a, a:hover {color: $primary-color; font-weight: 700;}

ul a, ul a:hover { 
    color: $clr-red !important; 
    text-decoration: none;
    font-weight: 900;
    font-size: 1.625rem;
}

.custom-bg {
    background-color: $bg-color;
}

.title-text { 
    font-size: 2rem;
    font-weight: 900;
}

.title-text-sub {
    font-size: 20px;
    line-height: 25px;
    font-weight: 900;
}

.title-text-white {
    font-size: 20px;
    font-weight: 900;
    color: $clr-white;
}

.text-white {
    font-size: 18px;
    color: $clr-white;
}
.text-black {
    font-size: 18px;
    color: $primary-color;
}
.text-red a{ 
    font-weight: 400;
    color: $clr-red;
}

.text-violet-sm { 
    font-size: 14px;
    color: $clr-violet;
}

.text-hero {
    font-family: 'Avenir Next', sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.74px;
    font-weight: bold;
    color: $text-color-light;
}

.text-violet {color: $clr-violet;}
.text-bold {font-weight: 700;}

input {
    width: 100%;
    border: 1px solid #9E9E9E;
    height: 45px;
    padding-left: 16px;
}

textarea {
    width: 100%;
    height: 100px;
    border:none;
    padding-left: 16px;
    border: 1px solid #9E9E9E;
    padding-top: 16px;
}

.btn-link-comment{
    width: 100%;
    height: 48px;
    background-color: $clr-red;
    color:  $clr-white;
    font-size:  20px;
    border-radius:  0px;
    font-weight: 900;
}

.dropdown{
    width: 100%;
    height: 45px;
    border: 2px solid #9384AA;
    text-align: center;
    color: #9384AA;
    background-color: $clr-white;
    border-radius: 5px;
    font-weight: 900;
    font-size: 15px;
}

.padding-0 {
    padding: 0px;
}

.padding-1 {
    padding: 0px;
}

.padding-2 {
    padding-right: 0px;
    padding-left: 15px;
}

.card-custom {
    border-radius: 0px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
    border: none;
}

.card-header-custom {
    width: 80%;
    border: none;
    background-color: $bg-violet;
    color: $text-color-light;
    font-weight: 900;
    font-size: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
}

.jumbotron {
    background: url(img/hero-img.png);
    background-position: inherit;
    height: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    min-height: 620px;
    border-radius: 0px;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited,
.btn.btn-primary:focus {
    background-color: $clr-red;
    border-color: $clr-red;
    border-radius: 0px;
    color: text-color-light;
    font-size: 20px;
    font-weight: 900;
}

.btn.btn-light,
.btn.btn-light:hover,
.btn.btn-light:active,
.btn.btn-light:visited,
.btn.btn-light:focus {
    background-color: $clr-white;
    border-color: $clr-white;
    font-size: 20px;
    font-weight: 900;
    border-radius: 0px;
    color:$clr-red;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $primary-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $primary-color;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $primary-color;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $primary-color;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: $primary-color;
}

::placeholder { /* Most modern browsers support this now. */
    color: $primary-color;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) { 
 .padding-0  {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
}



